html.dark{
        --text-color: #fff;
        --logo-color: #fff;
        --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(10%) hue-rotate(208deg) brightness(104%) contrast(104%);
        --header-bg-color: #171C28;
        --top-act-group-bg-color: #292E39; 
        --top-act-group-shadow: rgba(0, 0, 0, 0.20);
        --top-act-group-serparate: #EDEDF6;
}