$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
$display-values: block, flex, grid, none;
@each $breakpoint, $dimension in $breakpoints{
    @media (max-width: ($dimension - 0.02)) {
        @each $display in $display-values {
            @debug ".d-#{$breakpoint}-#{$display}";
        }
        
    }
    
}